<!doctype html>

<html lang="en">

<head>
	<title>TCMS</title>	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">	
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>


<body>

	<div id="main-menu" class="row">
		<ul class="col-md-8 col-md-offset-2">
			<li><a href="index.html">Dashboard</a></li>
			<li><a href="#" class="active">Add Site</a></li>
			<li><a href="#">Add Case</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Help</a></li>
		</ul>
		
		<ul class="col-md-2">
			<li>Hello, <a href="#" class="active">Hazem</a></li>				
		</ul>
	</div>	
	
	
	<div id="logo" class="row">
		<h1 class="col-md-8 col-md-offset-2"><span>A</span>utomation <span>T</span>emporary <span>C</span>lasifier</h1>
	</div>		
	
	<div id="main-content" class="row">		
		
		<div id="container" class="col-md-8 col-md-offset-2">
			<h1 class="title">Page Title</h1>
			
			<p>
				Lorem ipsum dolor sit amet, vestibulum ornare accumsan nam purus hac adipiscing. Augue elementum faucibus auctor quam cumque neque. Erat nam diam enim pulvinar dis, amet ea pede ultrices vitae rutrum egestas, cursus dui orci semper ac. Nullam odio libero pede dictum aliquam, ut at lacus nec sed, dolor ut, pulvinar morbi id, velit suspendisse ut wisi nullam turpis. Phasellus nulla lorem odio amet. Eu mauris, nisl non tristique, turpis vestibulum interdum nam id, dictum nec sociis lorem velit feugiat suspendisse, euismod odio sapien. Elit sem tellus aliquet suscipit mattis magna, montes luctus sit parturient phasellus ipsum ipsum, feugiat donec pretium ante nisl, dolor consequat mauris curabitur, dui in quam. Nulla litora sed urna nunc, eros aliquam et, nulla turpis, per at et vestibulum facilisi viverra tellus. Risus dis dui quis maecenas, vel nullam mus, pellentesque massa sed, volutpat dapibus erat habitasse pede urna, feugiat varius felis.
			</p>
			
			<p>
				Wisi non. Felis sed enim, in eu, nulla tempor, eros ut arcu natoque justo, ut arcu amet. Taciti aliquam pede arcu accumsan sit et, consectetuer arcu illum turpis, rutrum tempor ante justo. Eros luctus curabitur sed, velit eget molestie eget, diam nec duis pede amet augue, consequat integer dignissim veniam, vestibulum nunc dapibus. A scelerisque aliquet lorem vestibulum ultricies eget, pulvinar vivamus aliquam, vestibulum velit ut. Vehicula pulvinar.
			</p>
		
		</div>
				
	</div>
	
	
	
</body>


</html>
